<div class="fitter">
  <p style="height: 70px;"></p>
    <div class="container">
      <carousel 
          [loop]=true
          [height]=500 
          [cellWidth]=100 
          [cellsToShow]=1 
          [dots]=true 
          [arrows]=true>
        <div class="carousel-cell"><a href="wrap-foods">
          <img src="https://product-assets.faasos.io/production/product/image_1620280380694_Banner%201%20%281%29.jpg">
        </a>
        </div>
        <div class="carousel-cell"><a href="wrap-foods">
          <img src="https://product-assets.faasos.io/production/product/image_1620280934986_Faasos%20Combo_3%20May_Signature%20Wraps%20%281%29%20%281%29.jpg">
        </a>
        </div>
        <div class="carousel-cell"><a href="wrap-foods">
          <img src="https://product-assets.faasos.io/production/product/image_1629953295371_Munch-%20Creative-approved..jpg">
        </a>
        </div>
        
      </carousel>
  </div>
</div>
<!--<div class="container" style="width: 50%; margin-top: 160px; margin-bottom: 50px;">
    <div *ngFor="let food of foodResult; let i=index" style="margin:20px;">
      <div class="item2"> 
        <div class="card" style="width: 500px;"> 
          <div class="row no-gutters">
              <div class="col-sm-5">
                <ng-container *ngIf="food.foodType==='Breakfast'">
                  <img class="card-img" src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951905/new/breakfast.jpg" alt="Suresh Dasari Card">
                </ng-container>
                <ng-container *ngIf="food.foodType==='Lunch'">
                  <img class="card-img"src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951906/new/lunch.jpg">
                </ng-container>
                <ng-container *ngIf="food.foodType==='Dinner'">
                  <img class="card-img"src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951906/new/dinner.jpg">
                </ng-container>
                <ng-container *ngIf="food.foodType==='Dessert'">
                  <img class="card-img"src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951905/new/dessert.jpg">
                </ng-container>
                <ng-container *ngIf="food.foodType==='Salads'">
                  <img class="card-img"src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951906/new/salads.jpg">
                </ng-container>
                <ng-container *ngIf="food.foodType==='Drinks'">
                  <img class="card-img"src="https://res.cloudinary.com/dbte0ueti/image/upload/v1536951906/new/drink.jpg">
                </ng-container>
              </div>
              <div class="col-sm-7">
                  <div class="card-body">
                      <h5 class="card-title">{{food.foodName}}</h5>
                      <p class="card-text">{{food.foodType}} item</p>
                      <p class="card-text">Price: ₹{{food.foodPrice}}
                          <a href="#" class="btn btn-primary" >Buy Now</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>-->
  